@using TechWebSol.Areas.Mail.Models
@using TechWebSol.Extensions
@model List<MailMessageDTO>

    <form asp-area="Mail" asp-action="Forward" asp-controller="Mails">
        @{
            var NextStepWorkFlow = Model.FirstOrDefault(x => x.NextStepId != null);
            if (NextStepWorkFlow == null)
            {
                NextStepWorkFlow = Model.FirstOrDefault(x => x.IsCurrentStep == true);
            }
        }
        <input type="hidden" name="MailEntityId" value="@NextStepWorkFlow.MailEntityId" />
        <input type="hidden" name="NextStepId" value="@NextStepWorkFlow.NextStepId" />
        <input type="hidden" name="Id" value="@NextStepWorkFlow.Id" />

        <table class="table table-stripe">
            <tr>
                <td width="10%">
                    Date
                </td>
                <td>
                    Action
                </td>
                <td>
                    Action By
                </td>
                <td>
                    Comment
                </td>
            </tr>
            @foreach (var item in Model.FirstOrDefault().WorkFlowSteps.OrderBy(x => x.StepSequence))
            {
                <tr>
                    <td width="10%">
                        @Model.FirstOrDefault(x => x.WorkFlowStepId == item.Id)?.CreatedDate.ToDateFormat()
                    </td>
                    <td width="15%">
                        @item.Name
                    </td>
                    <td width="20%">
                        @Model.FirstOrDefault(x => x.WorkFlowStepId == item.Id)?.CreatedByName
                    </td>
                    <td>
                        @if (item.CurrentStep)
                        {
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="Message" value="@Model.FirstOrDefault(x => x.WorkFlowStepId == item.Id)?.Message" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>
        @*<a href="" class="btn btn-info GetAjaxRender"><i class="fas fa-pencil"></i>Save</a>*@
        <button type="submit" class="btn btn-danger "><i class="fas fa-share-square"></i> Save and Forward</button>
    </form>
