@model TechWebSol.Areas.Mail.Models.WorkFlowDefination
@{
    ViewData["Title"] = "Workflow Defination";
}


<!-- Small Model for all -->
<div class="modal fade show" id="ModelForAll" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="ModelContentDiv"></div>
        </div>
    </div>
</div>
<div class="card card-shadow">
    <div class="card-body">
        <hr class="mt-2 mb-4">
        <table aria-label="" role="grid" id="dataTableGrid12" class="table w-100">
            <tbody>
                <tr>
                    <th width="30%">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <td width="70%">
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th width="30%">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <td width="70%">
                        @if (@Model.IsActive)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                        @* <span> + (@Model.IsActive ? 'Yes' : 'No') + '</span>' *@
                        @* @Html.DisplayFor(model => model.IsActive) *@
                    </td>
                </tr>
            </tbody>
        </table>

    </div><!-- end .card-body -->
</div>

@section Breadcrump {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="WorkFlowDefinations">WorkFlow Defination</a></li>
    <li class="breadcrumb-item active">Details</li>
}
<div class="card card-shadow">
    <div class="card-body">
        <hr class="mt-2 mb-4">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a asp-action="Create" asp-asp-area="Mail" asp-controller="WorkFlowSteps" asp-route-masterid="@Model.Id" class="btn btn-primary action_link"><i class="fas fa-plus me-1"></i> Add New</a>
            </div>
            @* <div class="col-lg-9 filter-wrap">

            <div class="input-group search-filter mb-3 ms-2">
            <input type="text" id="searchFilter" class="form-control" placeholder="Search">
            </div>

            <div class="mb-3 ms-2">
            <button class="btn btn-primary" id="searchBtn"> <i class="fas fa-search me-1" title="Search"></i></button>
            </div>
            <div class="mb-3 ms-2">
            <button class="btn btn-warning" onclick="resetFields()" id="resetBtn"> <i class="fas fa-undo me-1" title="Reset Search Filters"></i></button>
            </div>
            </div> *@
        </div>
        @* <div class="row"> *@
        @* <table id="grid" dataTableGrid12 name="grid" class="table table-striped table-bordered"> *@
        <table aria-label="" role="grid" id="grid" class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col">Actions</th>
                    <th class="col">Step Sequence</th>
                    <th class="col">Name</th>
                    <th class="col">User</th>
                    <th class="col">Designation</th>
                    @*  <th class="col"></th> *@
                </tr>
            </thead>
        </table>
        @* </div> *@
    </div><!-- end .card-body -->
</div>

@section Styles {
    <partial name="_datatablestylepartial" />
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <partial name="_DatatableScriptsPartial" />
    <script>

        var popup, dataTable;
        var entity = 'WorkFlowSteps';
        var apiurl = '/WorkFlowSteps/PostWorkFlowSteps/';
        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": '/Mail/WorkFlowSteps/GetWorkFlowSteps?masterid=@Model.Id',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    {
                        render: function (data) {
                            return `<a class="action_link" href='${String("@Url.Action("Edit", "WorkFlowSteps", new { Id = "**clientCode**" })").replace("**clientCode**", data)}'><i class="fas fa-edit"></i> &nbsp;</a>` +

                                `<a class=" btn-info" onclick="Delete('${data}')"><i class="fas fa-trash"></i></a>`;
                        },
                        "data": "id",

                    },


                    { "data": "stepSequence" },
                    { "data": "name" },
                    { "data": "applicationUserApp.userName" },
                    { "data": "applicationUserApp.designation" },
                    // {
                    //     render: function (data) {
                    //         return `<a class="sort_asc" href='#' ><i class="fas fa-arrow-up sort-up" data-id="${data}"></i></a> &nbsp;<a class="sort_asc" href='#' ><i class="fas fa-arrow-down sort-down" data-id="${data}"></i></a>`;
                    //     },
                    //     searchable: false,
                    //     "data": "id",
                    // },

                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        $(document).on("click", ".sort-down", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            changeColumnOrder("sort-down", id);
        });

        $(document).on("click", ".sort-up", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            changeColumnOrder("sort-up", id);
        });

        function changeColumnOrder(action, id) {
            var fileId = "@Model.Id"; // Define fileId here
            var url = "@Url.Action("ChangeColumnOrder", "WorkFlowSteps", new { clientcode = "clientCode", fileId = "PLACEHOLDER" })";
            url = url.replace("PLACEHOLDER", fileId); // Replace the placeholder with the actual fileId
            $.post(url, { action: action, fileId: fileId, id: id }, function (response) {
                $('#grid').DataTable().ajax.reload();
            });
        }

        function SubmitAdd(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '/Mail/WorkFlowSteps/PostWorkFlowSteps/',
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            $('#ModelForAll').modal('hide');
                            // popup.modal('hide');
                            ShowMessage(data.message);
                            $('#grid').DataTable().ajax.reload();
                        } else {
                            $('#ModelForAll').modal('hide');
                            // popup.modal('hide');
                            ShowMessageError(data.message);
                            $('#grid').DataTable().ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function SubmitEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '/Mail/WorkFlowSteps/PostEditWorkFlowSteps/',
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            $('#ModelForAll').modal('hide');
                            // popup.modal('hide');
                            ShowMessage(data.message);
                            $('#grid').DataTable().ajax.reload();
                        } else {
                            $('#ModelForAll').modal('hide');
                            // popup.modal('hide');
                            ShowMessageError(data.message);
                            $('#grid').DataTable().ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            Swal.fire({
                title: "Are you sure you want to delete?",
                text: "You will not be able to restore the data!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/Mail/WorkFlowSteps/Delete/' + id,
                        success: function (data) {
                            if (data.success) {
                                ShowMessage(data.message);
                                $('#grid').DataTable().ajax.reload();
                            } else {
                                ShowMessageError(data.message);
                            }
                        }
                    });
                }
            });
        }

    </script>
}